{% extends 'base.html' %}

{% block title %}New Customer{% endblock %}

{% block h1 %}Customer Entry{% endblock %}


    {% block content %}
<div class=" container div-bg" style="text-align:left; padding: 10px; ">

    <form method="POST" style="color:navy">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    <a>Name: </a>
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.name}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.address.label}}
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px; ">
                    {{form.address}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.contact.label}}
                </div>
            </td>
            <td>
                <div style="margin-bottom: 10px">
                    {{form.contact}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="margin-bottom: 10px">
                    <input type="submit" class="btn btn-lg ">
                </div>
            </td>
        </tr>
    </table>
        <div style=" background-color: lightyellow; color:darkgreen; padding: 3px; border: 1px solid darkgreen; display: inline-block;">
              <ul>{{success_note}}</ul>
        </div>
</form>

</div>
{% endblock %}